@page "/Employees"
@using UserManagement.DTO.ModelsDTO;
@using UserManagement.Web.Pages.Base
@using UserManagement.Web.Pages.Components
@inherits EmployeesBase

@if (Employees == null)
{
   <DisplayLoading/>
    var emp = Employees;
}
else
{
    <div class="container-fluid" style="padding-bottom:3.5rem">
        <div class="row">
            <div class="col-sm-12">
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm-10">
                                <div>
                                    <h4 class="mb-3 mt-3">List Employees</h4>
                                </div>
                            </div>
                            <div class="col-sm-2 d-flex justify-content-end">
                                <div>
                                    <a class="btn btn-success btn-sm" href="/AddEmployee">
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>        
                    </div>
                    <div class="card-body">
                        <ListEmployeeTable Employees="@Employees"></ListEmployeeTable>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
